.incidentContainer {
    display: flex;
    background-color: #FFFFFF;
    padding: 0px 20px;
    border-radius: 20px;
    margin: 15px 0px;
}
#incidentTitle {
    width: 40%;;
    font-family: 'Poppins';
    color: #464646;
}
#incidentCreatedDate {
    width: 20%;
    font-family: 'Poppins';
    color: #464646;
}
#incidentEditDate {
    width: 20%;
    font-family: 'Poppins';
    color: #464646;
}
.buttonContainer {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}
#editIcon {
    background-color: #FFA15E;
    border: none;
    border-radius: 70px;
    padding: 0;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
#deleteIcon {
    background-color: #FF4848;
    border: none;
    border-radius: 70px;
    padding: 0;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
#moreIcon {
    background-color: #87FF5E;
    border: none;
    border-radius: 70px;
    padding: 0;
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}
#editIcon>svg:active {
    filter: invert(100%);
}
#deleteIcon>svg:active {
    filter: invert(100%);
}
#moreIcon>svg:active {
    filter: invert(100%);
}