.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: center;
}

.modalDelete {
    z-index: 100;
    background: #EDF0FF;
    position: relative;
    margin: auto;
    border-radius: 50px;
    width: 550px;
    padding: 1rem;
    height: 20%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    margin-left: 37%;
}

.modal-close-button {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    border: none;
    background: transparent;
}

.modal-body {
    height: 86%;
}

.modal-header > h4 {
    font-family: Poppins;
    font-weight: 400;
    color: #2F44FF;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
}