.tableHeader {
    display: flex;
    padding: 0px 20px;
}
#title {
    width: 40%;;
    font-family: 'Poppins';
    color: #464646;
}
#createdDate {
    width: 20%;
    font-family: 'Poppins';
    color: #464646;
}
#editDate {
    width: 20%;
    font-family: 'Poppins';
    color: #464646;
}